/* -----------------------------------
Variables
-------------------------------------- */
@media (prefers-color-scheme: light) {
    :root {
        --color-default: #2f2e2d;
        --color-bg: #d4cac0;
        --color-dim: #606060;
        --title-color: #7f8e5e;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-default: #bab6b1;
        --color-bg: #2f2e2d;
        /* --color-bg: #282828; */
        --title-color: #5a6073;
        --color-dim: #7f7f7f;
    }
}
@font-face {
    font-family: 'JetBrain';
    font-style: normal;
    font-weight: 400;
    /* src: url('/Media/Recursive.ttf') */
    src: url('/Media/JetBrain.woff2');
}

@font-face {
    font-family: 'JetBrain';
    font-style: bold;
    font-weight: 900;
    src: url('/Media/JetBrain-ExtraBold.woff2');
}

@font-face {
    font-family: 'Redaction';
    font-style: normal;
    src: url('/Media/Redaction-Regular.otf');
}

:root {
    --font-sans: JetBrain;
    --font-serif: Redaction;
    /* Times,serif; */
    --spacing: 1.5em;
    --spacing-s: calc(0.5 * var(--spacing));
    --spacing-m: var(--spacing);
    --spacing-l: calc(1.5 * var(--spacing));
    --spacing-xl: calc(2.5 * var(--spacing));
    --spacing-xxl: calc(5 * var(--spacing));
    --spacing-col: calc(6 * var(--spacing));
    --spacing-width-max: 30rem;
    --spacing-width-tiny: 15rem;
    --spacing-width-xl: 50rem;
}

/* for the webring logo */
.inline-image {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.2em;
}

/* -----------------------------------
Base
-------------------------------------- */

html {
    font-family: var(--font-serif);
    background-color: var(--color-bg);
    color: var(--color-default);
    -webkit-font-smoothing: antialiased;
    /* font-feature-settings: "onum" 1, "liga" 1; */
    /* font-size: var(--font-size); */
    line-height: 1.5;
    padding: 1.5rem;
    padding-top: 0%;
    max-width: var(--spacing-width-max);
    margin-left: auto;
    margin-right: auto;
}
/* reduce padding for phone screen */
@media only screen and (max-width: 400px) {
    html {
        padding: 0.5rem;
    }
}

/* -----------------------------------
Typography
-------------------------------------- */

h1,
h2 {
    /* calc(min px + variable vw) */
    font-size: calc(30px + 2.5vw);
    /* font-size: calc(30px + 2em); */
    margin: 0;
    color: var(--title-color);
}

h2 {
    margin: var(--spacing-m) 0;
}

h3 {
    margin: 0;
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-s);
    /* font-family: var(--font-sans); */
    /* font-family: Futura; */
    font-weight: 1000;
}

/* Link styling */
a[href^="http"]::after,
a[href^="https://"]::after
{
    content: '↗';
    margin-left: 4px;
    display: inline-block;
}
a[href^="https://hotlinewebring.club/LNDF/previous"]::after
{
    content: '';
}
a[href^="https://hotlinewebring.club/LNDF/next"]::after
{
    content: '';
}

a,
label {
    font-weight: 100;
    color: var(--color-dim);
    text-decoration: none; /*deactivate underline*/
    font-style: italic;
    transition: color 0.5s ease;
}

a:hover,
label:hover {
    color: var(--color-default);
}

figcaption {
    text-align: center;
    margin-top: var(--spacing-s);
    font-family: var(--font-sans);
    color: var(--color-dim);
    font-size: 14px;
}

.code-container {
    background-color: #00000025;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-family: var(--font-sans);
    text-wrap: nowrap;
    overflow-x:scroll;
}

small {
    font-size: var(--font-s);
    color: var(--color-default);
    line-height: 1.5;
    display: block;
    font-style: italic;
}

.label,
time {
    color: var(--color-dim);
}

time {
    font-feature-settings: 'tnum' 1;
}

u {
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2em;
}

/* -----------------------------------
Block Elements
-------------------------------------- */

hr {
    margin: var(--spacing-m) auto;
    max-width: calc(2 * var(--spacing-xxl));
    border: none;
    border-top: 1px solid var(--color-dim);
}

i {
    font-weight: 500;
}

figure,
video,
audio {
    display: block;
    width: 100%;
    margin: var(--spacing-m) 0;
}

figure img {
    border-radius: 20px;
    image-rendering: pixelated;
    width: 100%;
    height: auto;
}

/* -----------------------------------
Drop Down Menu
-------------------------------------- */

input {
    position: absolute;
    left: -999em;
}

form:input {
    position: relative;
    left: 0%;
}
/* example 3 */

.ex3 .hide3 {
   
    overflow-x: auto;
    /* height: auto; */
    transition: 0.7s ease;
    background-color: #00000016;
    border-radius: 10px;
    padding:1.5em;
    margin:10px;
    /* box-sizing: border-box; */
}

.ex3 input[type='checkbox']:checked + .hide3 {
    height: 0;
    opacity: 0;
    display: block;
    padding: 0;
    border-radius: 0;
    margin: 0;
}

ol {
    list-style-type: decimal;
    margin: 0;
    padding-left: 1em;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-container > img {
    border-radius: 20px;
}

blockquote {
    padding-left: 15px;
    border-left: 2px solid var(--color-default);
}

code {
    font-family: var(--font-sans);
    /* color: var(--color-bg); */
    /* color: #dddddd; */
    font-size: 14px;
    background-color: #00000025;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    /* margin: 10px; */
    border-radius: 4px;
}
