/* -----------------------------------
Variables
-------------------------------------- */

:root {
    --color-bg: #322e2d;
    --color-highlight: #F8F6F5;
    --color-default: #BAB6B1;
    --color-dim: #797673;
    --color-vdim: #494745;
    --font-sans: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    --font-serif: BlancoWeb,Times,serif;
    --font-size: 16px;
    --font-s: 14px;
    --font-size-serif: 18px;
    --spacing: 1.5em;
    --spacing-s: calc(0.5 * var(--spacing));
    --spacing-m: var(--spacing);
    --spacing-l: calc(1.5 * var(--spacing));
    --spacing-xl: calc(2.5 * var(--spacing));
    --spacing-xxl: calc(5 * var(--spacing));
    --spacing-col: calc(6 * var(--spacing));
    --spacing-width-max: 38rem;
    --spacing-width-tiny: 15rem;
    --spacing-width-xl: 50rem;
}

html#post {
    /* --color-bg: #d8d1c0; */
    /* --color-default: #3b3a38; */
    --color-bg: #322e2d;;
    --color-highlight: #000;
    --color-dim: #93918F;
    --color-vdim: #c9c5c1;
}
/* Initially hide all sections */
section {
    display: none;
  }
  
  /* Show the targeted section when it's the target of the URL (e.g., when a menu item is clicked) */
  section:target {
    display: block;
  }
/* -----------------------------------
Fonts
-------------------------------------- */

@font-face {
  font-family: 'BlancoWeb';
  src: url('Blanco-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'BlancoWeb';
  font-style: italic;
  src: url('Blanco-Italic.woff2') format('woff2');
}

/* @font-face {
  font-family: 'BlancoWeb';
  font-weight: bold;
  src: url('Blanco-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'BlancoWeb';
  font-weight: bold;
  font-style: italic;
  src: url('Blanco-BoldItalic.woff2') format('woff2');
} */


/* -----------------------------------
Base
-------------------------------------- */

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-feature-settings: "kern" 1,"liga" 1;
}

html {
    font-size: var(--font-std);
    font-family: var(--font-sans);
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-default);
    font-family: var(--font-sans);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "onum" 1, "liga" 1;
    font-size: var(--font-size);
    line-height: 1.5;
    padding: 1.5rem;
}

body {
    margin: 3vw 0;
}

section {
    margin-bottom: var(--spacing-xl);
}
.inline-image {
    display: inline-block;
    width: 1em; /* Adjust the width to match your preferred size */
    height: 1em; /* Adjust the height to match your preferred size */
    vertical-align: middle;
    /* Optionally, you can add some margin to adjust the spacing between the image and text */
    margin-right: 0.2em; /* Adjust the margin to your preference */
  }
/* -----------------------------------
Header
-------------------------------------- */

body>header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--spacing-s);
    color: var(--color-dim);
}

body>header h1 {
    margin: 0;
}

body>header img {
    display: block;
    border-radius: 100%;
    height: calc(3 * var(--spacing));
    width: auto;
}

body>header a {
    text-decoration: none;
}



/* -----------------------------------
Footer
-------------------------------------- */

body>footer {
    font-size: var(--font-s);
    line-height: var(--spacing-xl);
    justify-content: center;
}

body>footer nav, body>footer {
    display: flex;
    gap: var(--spacing-m);
}

/* -----------------------------------
Typography
-------------------------------------- */

h1, h2 {
    font-family: var(--font-serif);
    font-size: calc(26.5px + (5) * ((179vw - 380px) / (620 - 400)));
    font-weight: 700;
    margin: var(--spacing-s) 0;
    color: darkolivegreen;
}

article h1 {
    margin-bottom: 0;

}

h2 {
    margin: var(--spacing-m) 0;
}

h3 {
    margin: 0;
}

a {
    /* color: var(--color-default); */
    text-decoration-color: var(--color-dim);
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.05em;
    text-decoration: none;
    font-style: italic;
    color: rgb(114, 114, 114);
    transition: color 0.5s ease; /* Add a transition for the color property */
   
}

a:hover {
    /* transition: color 0.2s ease-in; */
    color: rgb(66, 66, 66);
    /* var(--color-highlight); */

}

h3 a {
    color: var(--color-highlight);
}

p, ol, ul {
    font-family: var(--font-serif);
    font-weight: normal;
    margin: 1em 0;
    font-size: var(--font-size-serif);
    font-feature-settings: 'onum' 1;
}
em {
    font-size: calc(12px + (27 - 22) * ((100vw - 400px) / (1000 - 400)));
}

.row {
    display: flex;
    margin: 10px 30px auto auto;

  }
  
  .column {
    flex: 50%;
    /* margin-left: auto;
    margin-right: auto; */
  }


blockquote {
    font-weight: normal;
}

figcaption {
    text-align: center;
    margin-top: var(--spacing-s);
    font-family: var(--font-sans);
    color: var(--color-dim);
    font-size: 14px;
}
/* code{
    background-color: #0000005f;
} */

.code-container{
    background-color: #00000025; /* Set the background color to a dark shade */
    /* color: white; Set the text color to contrast with the dark background */
    padding: 10px; /* Add padding for better visual appearance */
    border-radius: 10px; /* Add rounded corners */
  }

  .knowledge{
    background-color: #00000016; /* Set the background color to a dark shade */
    /* color: white; Set the text color to contrast with the dark background */
    padding: 10px; /* Add padding for better visual appearance */
    /* margin: 10px; */
    border-radius: 10px; /* Add rounded corners */

    padding-left: 2em;  /* Add left padding */
    padding-right: 2em; /* Add right padding */
  }
  .knowledge hr {
    border-color: rgb(113, 113, 113); /* Set the color to red */
    /* border-style: dotted; */

    border: none; /* Remove the default line */
      width: 50%; /* Set the width to 50% for a centered line */
      height: 2px; /* Adjust the height as needed */
      background: repeating-linear-gradient(90deg, #ccc, #ccc 4px, transparent 4px, transparent 8px); /* Create a repeating linear gradient for the dotted pattern */
      margin: 20px auto; /* Center the line horizontally and adjust the top margin as needed */
    
  }
  .knowledge code{
    color:rgb(68, 114, 57);
  }
/* code{
    text-align: center;
    margin-top: var(--spacing-s);
    font-family: var(--font-sans);
    color: var(--color-dim);
    font-size: 14px;
} */
small {
    font-size: var(--font-s);
    color: var(--color-dim);
    line-height: 1.5;
    display: block;
}

.label, time {
    color: var(--color-dim);
}

time {
    font-feature-settings: 'tnum' 1;
}

/* -----------------------------------
Block Elements
-------------------------------------- */

hr {
    margin: var(--spacing-m) auto;
    max-width: calc(2 * var(--spacing-xxl));
    border: none;
    border-top: 1px solid var(--color-vdim);
}

figure, video, audio {
    display: block;
    width: 100%;
    margin: var(--spacing-m) 0;
}

figure img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

/* -----------------------------------
Home
-------------------------------------- */

.split {
    margin-bottom: var(--spacing-l);
}

@media (min-width: 600px) {
    .split {
        display: grid;
        grid-template-columns: clamp(8em, 20vw, var(--spacing-col)) 1fr;
        align-items: baseline;
        margin-bottom: var(--spacing-s);
    }
    .split time { margin: 0; }
}

small + p {
    margin-top: var(--spacing-s);
}

.main-form {
    gap: 1rem;
}

p.emailoctopus-success-message {
    text-align: left !important;
    color: #65B176 !important;
    font-family: var(--font-sans);
    font-weight: 500 !important;
    font-size: 1rem !important;
}

[data-form="71e6f86b-0538-11ec-96e5-06b4694bee2a"] .emailoctopus-form input {
    font-family: var(--font-sans) !important;
    font-weight: 500 !important;
}

[data-form="71e6f86b-0538-11ec-96e5-06b4694bee2a"] .emailoctopus-form input:not([type=submit]) {
    background-color: rgba(255,255,255,0.05) !important;
    border-color: var(--color-dim) !important;
    font-weight: 500 !important;
    color: var(--color-highlight) !important;
}

[data-form="71e6f86b-0538-11ec-96e5-06b4694bee2a"] .emailoctopus-form input:not([type=submit])::placeholder {
    color: var(--color-dim);
}

[data-form="71e6f86b-0538-11ec-96e5-06b4694bee2a"] .emailoctopus-form input:not([type=submit]):focus {
    outline: 1px solid rgba(0,0,0,0);
}

[data-form="71e6f86b-0538-11ec-96e5-06b4694bee2a"] .emailoctopus-form [eo-form-fields-container] {
    gap: 2rem !important;
}

/* -----------------------------------
Post Index & Post
-------------------------------------- */

section.posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: var(--font-size);
}

article header {
    margin-bottom: var(--spacing-xl);
}

/* -----------------------------------
Limit widths
-------------------------------------- */

pre{
    margin-top: 5px; /* Reduce top margin */
    margin-bottom: 5px; /* Reduce bottom margin */
}

code{
    margin-top: 5px; /* Reduce top margin */
    margin-bottom: 5px; /* Reduce bottom margin */
}

div{
    margin-top: 5px; /* Reduce top margin */
    margin-bottom: 5px; /* Reduce bottom margin */
}

body>header, article>header, body,
h1, h2, h3, time,
p, blockquote, ol, ul, details, pre.code, figcaption,
.split, .posts, .ex3
{
    max-width: var(--spacing-width-max);
    margin-left: auto;
    margin-right: auto;
}

figure, audio, video {
    max-width: var(--spacing-width-xl);
    margin-left: auto;
    margin-right: auto;
}

.limit {
    max-width: var(--spacing-width-tiny);
    margin-left: auto;
    margin-right: auto;
}

iframe[src*="youtube"] {
    max-width: var(--spacing-width-xl);
    width: 100%;
	aspect-ratio: 16/9;
}

label {
    display: block;
    margin: 20px 0 0;
    /* color:rgb(63, 63, 63); */
    color:var(--color-default);
    transition: color 0.5s ease;
    font-family: 'Times New Roman', Times, serif;

    /* border-bottom: 1px solid green; */
  }
  label:hover {
    color: grey;
    /* var(--color-highlight); */
    /* text-decoration: underline dotted blue; */
  }

  input {
    position: absolute;
    left: -999em;
  }

/* example 3 */


.ex3 .hide3 {
    width: 100%;
    display: table;
    height: 150px; /* any arbitrary height but best at the minimum initial height you would want. */
    overflow: hidden;
    transition: all 0.7s ease;

  }

  .inner3 {
      background-color: #00000016;
      border-radius: 10px;
      padding-left: 2em; 
      padding-right: 2em;
      padding-top: 1em;
      padding-bottom: 1em;
      max-width: var(--spacing-width-max);
      overflow-x: auto;
      box-sizing: border-box;
  }

  
  .ex3 input[type="checkbox"]:checked + .hide3 {
      height: 0;
      opacity: 0;
      display: block;
    }
    
    ol{list-style-type: decimal;
      margin: 0;
      padding-left: 1em;}

.center-container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        /* height: 100vh; Set a fixed height for the container, e.g., viewport height (vh) */
    }
.center-container>img{
    border-radius: 20px;
}


.title-link{
    /* color: var(--color-default); */
    font-family: 'Times New Roman', Times, serif;
    font-family: var(--font-serif);
    font-size: calc(26.5px + (5) * ((179vw - 380px) / (620 - 400)));
    font-weight: 700;
    margin: var(--spacing-s) 0;
    padding:0px;
    text-decoration-color: var(--color-dim);
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.05em;
    text-decoration: none;
    font-style: italic;
    color: darkolivegreen; 
    transition: color 0.5s ease; /* Add a transition for the color property */
   
}

.title-link:hover {
    /* transition: color 0.2s ease-in; */
    /* var(--color-highlight); */
    color: darkolivegreen;


}

a[href^="http"]::after,
a[href^="https://"]::after {
    content: "↗";
    margin-left: 4px;
    display: inline-block;
}
a[href^="https://hotlinewebring.club/LNDF/previous"]::after {
    content: "";
}
a[href^="https://hotlinewebring.club/LNDF/next"]::after {
    content: "";
}
