@font-face {
    font-family: 'JetBrain';
    font-style: normal;
    font-weight: 400;
    /* src: url('/Media/Recursive.ttf') */
    src: url('/Font/JetBrain.woff2');
}

@font-face {
    font-family: 'JetBrain';
    font-style: bold;
    font-weight: 900;
    src: url('/Font/JetBrain-ExtraBold.woff2');
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 400;
    /* src: url('/Media/Recursive.ttf') */
    src: url('/Font/GothicPixels.ttf');
}

@font-face{
    font-family: 'Playfair';
    font-style: normal;
    src: url('/Font/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face{
    font-family: 'Playfair';
    font-style: italic;
    src: url('/Font/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}